*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'poppins',sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    
}

.navbar-links{
    display: flex;
    column-gap: 20px;
    
}

.navbar-links a{
    text-decoration: none;
    color: #1D232c;
    text-align: center;
}

.navbar-links a:hover{
    text-decoration: underline;
      color: #1D232c;

}

.navbar-menu-toggle{
    cursor: pointer;
    display: none;
}

/*side navbar*/
.side-navbar{
    background-color: #1D232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition:2s;
}
.side-navbar-link{
    margin-bottom: 20px;
}
.side-navbar-links a{
    text-decoration: none;
    color: white;
}
.side-navbar-links a:hover{
    text-decoration: underline;
}

.header{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #1D232c;
    color: white;
    cursor: pointer;
}

.service{
    padding: 20px;
}
.service-container-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div{
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 10px;
}
.new-arrival{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new-arrival-container{
    position: relative;
    flex-basis: 20%;
}
.new-arrival button{
padding-left: 10%;
padding-right: 10%;
padding-top: 5%;
padding-bottom: 5%;
margin-top: 10px;
color: #1D232C;
position: absolute;
top: 50%;
left: 18%;
border-radius: 10px;
border: none;
cursor: pointer;

}
.n-arrival{
    padding: 20px;
}

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}

.news input{
    padding: 10px;
    width: 80vw;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid black 3px;
}
.news button{
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1D232c;
    color: #f2f4f7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.footer{
    margin-top: 20px;
    background-color: #1D232C;
    color: white;
    position: relative;
    padding: 20px;
    margin-right: 30px;

}

.product-selection{
    margin-top: 20px;
}

.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
}
.product-search input{
    border: none;
    width: 100%;
    background-color: transparent;

}
.product-search input:focus{
    outline: none;
}

.products{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;

}

.products-box{
    text-align: center;
    flex-basis: 20%;
}

.product-box img{
    border-radius: 20px;
}

/* contact */
.contacts-body {
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-container {
    background-color: #1e293b;
    padding:40px;
    border-radius: 10px;
    width:800px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
    
}

.contacts-h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-label {
    color: #cbd5e1;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

.c-input,.contacts-textarea {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    background-color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4;
 
}

.contacts-textarea {
    resize: none;
}

.contacts-button {
    width:30%;
    padding: 12px;
    background-color: #3b82f6;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    
    
}

.contacts-button:hover {
    background-color: #2563eb;
}

/*media query*/

@media  screen and (max-width:700px) {
    .navbar-menu-toggle{
        display: block;
    }
    .navbar-links{
        display: none;
    }
    .header-img{
        display: none;
    }
    .service-container-1{
        display: none;
    }
    .service-container-2{
        flex-direction: column;
    }
}